[submodule "yum"]
	path = yum
	url = https://github.com/chef-cookbooks/yum.git
[submodule "aws"]
	path = aws
	url = https://github.com/chef-cookbooks/aws.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/chef-cookbooks/build-essential.git
[submodule "chef-sugar"]
	path = chef-sugar
	url = https://github.com/sethvargo/chef-sugar.git
[submodule "erlang"]
	path = erlang
	url = https://github.com/chef-cookbooks/erlang.git
[submodule "git"]
	path = git
	url = https://github.com/chef-cookbooks/git.git
[submodule "java"]
	path = java
	url = https://github.com/agileorbit-cookbooks/java.git
[submodule "ohai"]
	path = ohai
	url = https://github.com/chef-cookbooks/ohai.git

[submodule "ntp"]
	path = ntp
	url = https://github.com/opscode-cookbooks/ntp.git
[submodule "runit"]
	path = runit
	url = https://github.com/opscode-cookbooks/runit.git
[submodule "bluepill"]
	path = bluepill
	url = https://github.com/opscode-cookbooks/bluepill.git
[submodule "dmg"]
	path = dmg
	url = https://github.com/opscode-cookbooks/dmg.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "vim"]
	path = vim
	url = https://github.com/opscode-cookbooks/vim.git
[submodule "rsyslog"]
	path = rsyslog
	url = https://github.com/opscode-cookbooks/rsyslog.git
[submodule "htpasswd-cookbook"]
	path = htpasswd-cookbook
	url = https://github.com/Youscribe/htpasswd-cookbook.git
[submodule "opsworks-elasticsearch-cookbook"]
	path = opsworks-elasticsearch-cookbook
	url = https://github.com/awslabs/opsworks-elasticsearch-cookbook.git
[submodule "apt"]
	path = apt
	url = https://github.com/chef-cookbooks/apt.git
[submodule "ark"]
	path = ark
	url = https://github.com/burtlo/ark.git
[submodule "logstash"]
	path = logstash
	url = https://github.com/lusis/chef-logstash
[submodule "ant"]
	path = ant
	url = https://github.com/jtimberman/ant-cookbook
[submodule "logrotate"]
	path = logrotate
	url = https://github.com/stevendanna/logrotate
[submodule "python"]
	path = python
	url = https://github.com/poise/python
[submodule "curl"]
	path = curl
	url = https://github.com/retr0h/cookbook-curl
[submodule "packagecloud"]
	path = packagecloud
	url = https://github.com/computology/packagecloud-cookbook
[submodule "windows"]
	path = windows
	url = https://github.com/chef-cookbooks/windows
[submodule "yum-epel"]
	path = yum-epel
	url = https://github.com/chef-cookbooks/yum-epel
[submodule "kibana"]
	path = kibana
	url = https://github.com/lusis/chef-kibana
[submodule "apache2"]
	path = apache2
	url = https://github.com/svanzoest-cookbooks/apache2
[submodule "libarchive"]
	path = libarchive
	url = https://github.com/reset/libarchive-cookbook
[submodule "chef_handler"]
	path = chef_handler
	url = https://github.com/chef-cookbooks/chef_handler
[submodule "kibana_lwrp"]
	path = kibana_lwrp
	url = https://github.com/lusis/chef-kibana/
[submodule "elasticsearch"]
	path = elasticsearch
	url = https://github.com/elastic/cookbook-elasticsearch.git
